<div class="home-layout">
  <app-sidebar></app-sidebar>

  <div class="welcome">
    <h1>Devices & Sessions</h1>

    <p style="color: green"><%= notice %></p>

    <session-list>
      <% @sessions.each do |session| %>
        <div id="<%= dom_id session %>">
          <p>
            <strong>User Agent:</strong>
            <%= session.user_agent %>
          </p>

          <p>
            <strong>Ip Address:</strong>
            <%= session.ip_address %>
          </p>

          <p>
            <strong>Created at:</strong>
            <%= session.created_at %>
          </p>
        </div>
        <p>
          <%= button_to "Log out", session, method: :delete %>
        </p>
      <% end %>
    </session-list>

    <br>

  </div>
</div>